# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_ENV="development"

# MongoDB Database Connection
# Replace with your actual MongoDB Atlas connection string in .env.local
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/database?retryWrites=true&w=majority"
